<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/style/global.css">
    <meta charset="UTF-8">
    <title>Редактирование номера</title>
</head>
<body>
<form th:action="@{/rooms/{id}}" th:method="PATCH" th:object="${editedRoom}">
    <table>
        <tr>
            <td><label for="roomId">Номер: </label></td>
            <td><input id="roomId" type="text" readonly  th:field="*{id}"></td>
        </tr>
        <tr>
            <td><label for="classOfAccommodations">Класс размещения:</label></td>
            <td><input id="classOfAccommodations" type="text" th:field="*{classOfAccommodations}" ></td>
            <td class="error-style" th:if="${#fields.hasErrors('classOfAccommodations')}"
                th:errors="*{classOfAccommodations}"></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Обновить">
            </td>
        </tr>
    </table>
</form>

<p><a href="/rooms">To index of reserves</a></p>
</body>
</html>