<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация о номере</title>
</head>
<body>
<form th:action="@{/rooms/update/{id}(id=${room.getId()})}" th:method="PATCH" th:object="${room}">
    <table>
        <tr>
            <td><label for="title">Название:</label></td>
            <td><input type="text" th:field="*{title}" id="title"></td>
        </tr>
        <tr>
            <td><label for="roomId">Идентификатор: </label></td>
            <td><input type="text" readonly id="roomId" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td><label for="dateTime">Дата и время события:</label></td>
            <td><input type="datetime-local" th:field="*{eventDateTime}" id="dateTime"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Сохранить"/>
            </td>
        </tr>
    </table>
</form>

<p><a href="/rooms">To index of reserves</a></p>
</body>
</html>