<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/style/global.css">
    <!--    Библиотека иконок для кнопок-->
    <script src="https://kit.fontawesome.com/79be85c73a.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Список всех номеров</title>
</head>
<body>
<table>
    <caption>Панель управления:</caption>
    <tr>
        <th scope="col">
            <form th:action="@{/reserves}" th:method="GET">
                <input type="submit" value="Бронями">
            </form>
        </th>
        <th scope="col">
            <form th:action="@{/guests}" th:method="GET">
                <input type="submit" value="Гостями">
            </form>
        </th>
        <th scope="col">
            <form th:action="@{/rooms}" th:method="GET">
                <input type="submit" value="Номерами">
            </form>
        </th>
    </tr>
</table>

<hr>

<table border="1">
    <caption>Список существующих номеров</caption>
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Класс размещения</th>
        <th scope="col" colspan="2">
            <form th:action="@{/rooms/new-room}" th:method="GET">
                <button title="Новый номер"><i class="fas fa-plus-square"></i></button>
            </form>
        </th>
    </tr>
    <tr th:each="room : ${roomsList}">
        <td th:text="${room.getId()}">номер комнаты</td>
        <td th:text="${room.getClassOfAccommodations()}">класс размещения</td>
        <td>
            <form th:action="@{/rooms/edit/{id}(id=${room.getId()})}" th:method="GET">
                <button title="Изменить"><i class="fas fa-user-edit"></i></button>
            </form>
        </td>
        <td>
            <form th:action="@{/rooms/delete/{id}(id=${room.getId()})}" th:method="DELETE">
                <button type="submit" title="Удалить"><i class="fas fa-trash"></i></button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>