<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание нового номера</title>
</head>
<body>
<form th:method="POST" th:action="@{/rooms}" th:object="${newRoom}">

    <table>
        <tr>
            <td><label for="id">Номер комнаты:</label></td>
            <td><input id="id" type="text" th:field="*{id}" /></td>
        </tr>
        <tr>
            <td><label for="roomClassOfAccommodations">Класс номера: </label></td>
            <td><input id="roomClassOfAccommodations" type="text" th:field="*{classOfAccommodations}"/>
                <div th:if="${#fields.hasErrors('classOfAccommodations')}" th:errors="*{classOfAccommodations}"></div>
            </td>
        </tr>
        <tr>
            <td><label for="checkIn">Укажите дату и время: </label></td>
            <td><input id="checkIn" type="datetime-local" th:field="*{checkIn}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Создать"/></td>
        </tr>
    </table>

</form>
</body>
</html>