<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание нового номера</title>
</head>
<body>
<form th:method="POST" th:action="@{/rooms}" th:object="${newRoom}">
    <label for="roomTitle">Название ресурса: </label>
    <input id="roomTitle" type="text" th:field="*{title}"/>
    <br/>
    <label for="eventDateTime">Укажите дату и время: </label>
    <input id="eventDateTime" type="datetime-local" th:field="*{eventDateTime}"/>

    <input type="submit" value="Создать"/>
</form>
</body>
</html>