<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/style/global.css">
    <meta charset="UTF-8">
    <title>Создание нового номера</title>
</head>
<body>
<form th:method="POST" th:action="@{/rooms}" th:object="${newRoom}">

    <table>
        <caption>Создание номера</caption>
        <tr>
            <th scope="col"><label for="id">Номер:</label></th>
            <td><input id="id" type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <th scope="col"><label for="roomClassOfAccommodations">Класс размещения: </label></th>
            <td><input id="roomClassOfAccommodations" type="text" th:field="*{classOfAccommodations}"/></td>
            <td class="error-style" th:if="${#fields.hasErrors('classOfAccommodations')}"
                th:errors="*{classOfAccommodations}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Создать"/></td>
        </tr>
    </table>
</form>
</body>
</html>