<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>
<form th:action="@{/guests/create}" th:method="POST" th:object="${newGuest}">
    <table>
        <caption>Регистрация нового гостя</caption>
        <tr>
            <th scope="col"><label for="lastname">Фамилия:</label></th>
            <td><input id="lastname" type="text" th:field="*{lastname}"></td>
        </tr>
        <tr>
            <th scope="col"><label for="name">Имя:</label></th>
            <td><input id="name" type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <th scope="col"><label for="middleName">Отчество:</label></th>
            <td><input id="middleName" type="text" th:field="*{middleName}"></td>
        </tr>
        <tr>
            <th scope="col"><label for="age">Возраст:</label></th>
            <td><input id="age" type="text" th:field="*{age}"></td>
        </tr>
    </table>
    <button>Создать</button>
    <input type="submit" value="Создать 2">
</form>
</body>
</html>