<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/style/global.css">
    <meta charset="UTF-8">
    <title>Бронирование номера</title>
</head>
<body>
<form th:method="POST" th:action="@{/reserves/create}" th:object="${newReserve}">

    <table>
        <caption>Бронирование номера</caption>
        <tr>
            <th scope="col"><label for="guestId">ID гостя: </label></th>
            <td>
                <select id="guestId" th:field="*{guest}">
                    <option value="0">Укажите гостя</option>
                    <option th:each="guest : ${guestList}"
                            th:value="${guest.id}"
                            th:text="${guest.lastname}+' '+${guest.name}+' '+${guest.middleName}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="col"><label for="id">Номер:</label></th>
            <td>
                <select id="id" th:field="*{room}">
                    <option value="0">Укажите номер</option>
                    <option th:each="room : ${roomList}"
                            th:value="${room.id}"
                            th:text="${room.id}">
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <th scope="col"><label for="checkIn">Дата и время заезда: </label></th>
            <td><input id="checkIn" type="datetime-local" th:field="*{checkIn}"/></td>
        </tr>
        <tr>
            <th scope="col"><label for="checkOut">Дата и время выезда: </label></th>
            <td><input id="checkOut" type="datetime-local" th:field="*{checkOut}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Забронировать номер"/></td>
        </tr>
    </table>

    <p class="error-style" th:if="${#fields.hasErrors('all')}" th:errors="*{all}"></p>

</form>
</body>
</html>