<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/resources/style/global.css">
    <!--    Библиотека иконок для кнопок-->
    <script src="https://kit.fontawesome.com/79be85c73a.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Список броней</title>
</head>
<body>
<table>
    <caption>Панель управления:</caption>
    <tr>
        <th scope="col">
            <form th:action="@{/reserves}" th:method="GET">
                <input type="submit" value="Бронями">
            </form>
        </th>
        <th scope="col">
            <form th:action="@{/guests}" th:method="GET">
                <input type="submit" value="Гостями">
            </form>
        </th>
        <th scope="col">
            <form th:action="@{/rooms}" th:method="GET">
                <input type="submit" value="Номерами">
            </form>
        </th>
    </tr>
</table>

<hr>

<table border="1">
    <caption>Полный список существующих броней</caption>
    <tr>
        <th scope="col">ID брони</th>
        <th scope="col">Номер</th>
        <th scope="col">Гость</th>
        <th scope="col">Заезд</th>
        <th scope="col">Выезд</th>
        <th scope="col" colspan="2">
            <form th:action="@{/reserves/create}" th:method="GET">
                <button title="Новая бронь"><i class="fas fa-plus-square"></i></button>
            </form>
        </th>
    </tr>
    <tr th:each="reserve : ${reserveList}">
        <td th:text="${reserve.getId()}">ID брони</td>
        <td th:text="${reserve.getRoom.getId}">номер</td>
        <td th:text="${reserve.getGuest.toString}">гость</td>
        <td th:text="${reserve.getCheckIn()}">заезд</td>
        <td th:text="${reserve.getCheckOut()}">выезд</td>
        <td>
            <form th:action="@{/reserves/edit/{id}(id=${reserve.getId()})}" th:method="GET">
                <button title="Изменить"><i class="fas fa-user-edit"></i></button>
            </form>
        </td>
        <td>
            <form th:action="@{/reserves}" th:method="DELETE">
                <button type="submit" th:name="roomIdForDelete" th:value="${reserve.getId()}" title="Удалить"><i
                        class="fas fa-trash"></i></button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>