<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Сведения о ресурсе</title>
</head>
<body>
<table>
    <tr>
        <td>Название: </td>
        <td th:text="${reserveInfo.getTitle}"></td>
    </tr>
    <tr>
        <td>Идентификатор: </td>
        <td th:text="${reserveInfo.getId()}"></td>
    </tr>
    <tr>
        <td>Дата и время ресурса: </td>
        <td th:text="${reserveInfo.getEventDateTime()}"></td>
    </tr>

</table>
<form th:action="@{/reserves/{id}(id=${reserveInfo.getId()})}" th:method="DELETE">
<!--<form th:action="@{/reserves/delete/{id}(id=${reserveInfo.getId()})}" th:method="POST">-->
<!--    <input type="hidden" name="_method" value="DELETE" />-->
    <input type="submit" value="Удалить"/>
</form>
<p><a href="/reserves">To list of reserves</a></p>
</body>
</html>